/* Input */
.comment { background: url(../smiles/1f44d.png) no-repeat 0 0; }
.bubble { background: url(../smiles/1f49b.png) no-repeat 0 0; }
.bubble2 { background: url(../smiles/1f60a.png) no-repeat 0 0; }
.bubble3 { background: url(../smiles/1f60c.png) no-repeat 0 0; }
.bubble4 { background: url(../smiles/1f60d.png) no-repeat 0 0; }
.bubble5 { background: url(../smiles/1f60e.png) no-repeat 0 0; }
.bubble6 { background: url(../smiles/1f60f.png) no-repeat 0 0; }
.bubble7 { background: url(../smiles/1f61c.png) no-repeat 0 0; }